{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/choosePlaylist.css') }}"
/>
{% endblock head %} {% block content %}

<div class="container">
  <div class="wrapper">
    <div class="title">
      <h1>Choose the playists to sort into</h1>
      <p>
        Choose any /
        <a class="createNew" href="{{ url_for('spotify.createNewPlaylist') }}"
          >Create New</a
        >
      </p>
    </div>

    <!-- Select Playlist -->
    <form
      method="POST"
      action="{{ url_for('spotify.chooseChildrenPlaylists') }}"
    >
      <!-- Root -->
      <div class="rootPlaylist">
        <p class="playlist_name">Root:</p>
        <div class="root">
          <img src="{{ root.url }}" class="playlist_img" />
          <h1 class="playlist_name">{{ root.name }}</h1>
        </div>
      </div>

      <!-- List -->
      <div class="playlist-container">
        {% for playlist in playlists %}
        <div class="playlist-item">
          <input
            type="checkbox"
            name="{{ playlist.name }}"
            value="{{ playlist.id }}"
          />
          <img src="{{ playlist.url }}" class="playlist_img" />
          <p class="playlist_name">{{ playlist.name }}</p>
        </div>
        {% endfor %}
      </div>

      <button type="submit" class="next-btn">Next</button>
    </form>
  </div>
</div>

{% endblock content %}
