{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/choosePlaylist.css') }}"
/>
{% endblock head %} {% block content %}

<div class="container">
  <div class="wrapper">
    <div class="title">
      <h1>Create a new Playlist</h1>
      <p>Type name</p>
    </div>

    <!-- Select Playlist -->
    <form
      method="POST"
      action="{{ url_for('spotify.createNewPlaylist') }}"
      class="center"
    >
      <div style="display: flex; gap: 50px">
        <div style="display: flex; gap: 5px">
          <input type="radio" name="playlistState" id="1" value="True" />
          <label for="1" class="playlist_name">Public</label>
        </div>
        <div style="display: flex; gap: 5px">
          <input type="radio" name="playlistState" id="2" value="False" />
          <label for="2" class="playlist_name">Private</label>
        </div>
      </div>
      <input type="text" class="newPlaylistInp" name="newPlaylistName" />

      <button type="submit" class="next-btn">Create</button>
    </form>
  </div>
</div>

{% endblock content %}
