{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/choosePlaylist.css') }}"
/>



{% endblock head %} {% block content %}

<div class="container">
  <div class="wrapper">
    <div class="title">
      <h1>Choose the Playlist you want to Split</h1>
      <p>Choose one</p>
    </div>

    <!-- Select Playlist -->
    <form
      method="POST"
      action="{{ url_for('spotify.chooseRootPlaylist') }}"
      id="root"
    >
      <div class="playlistWrapper">
        <!-- Search Bar -->
        <div class="search">
          <div class="searchContainer"><input type="text" class="searchInp" placeholder="Search" id="search" onkeyup="filterPlaylists()"/> <span class="searchIcon">&#128270</span></div>
          
        </div>

        <!-- Playlist List -->
        <div class="playlist-container">
          {% for playlist in playlists %}
          <div class="playlist-item" id="{{ playlist.id }}">
            <input type="radio" name="playlist" value="{{ playlist.id }}" />
            <img src="{{ playlist.url }}" class="playlist_img" />
            <p class="playlist_name">{{ playlist.name }}</p>
          </div>
          {% endfor %}
        </div>
      </div>

      <button type="submit" class="next-btn">Next</button>
    </form>
  </div>
</div>

<!-- Search JS -->
<script type="text/javascript">
  var playlists = {{ playlists|tojson }}


  form = document.getElementById("root");

  form.addEventListener("submit", (e) => {
    //reset Local storage
    localStorage.setItem("trackIdx", 0);
  });
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>


{% endblock content %}
